.path {
    transform: translateY(-4vh);
    /* overflow: hidden; */
    /* position: absolute; */
    /* bottom: 0.5rem; */
    /* stroke: black; */
    stroke-width: 3px;
    fill: rgba(243, 244, 246, 0);
    stroke-dasharray: 1400;
    stroke-dashoffset: 100;
    animation: dash 5s linear alternate;
    animation-delay: 0.3s;
  }
  .move{
    margin-top: 20px;
    transform: translateY(-80vh);
}
.path2{
  transform: translateY(-37vh);
  /* overflow: hidden; */
  /* position: absolute; */
  /* bottom: 0.5rem; */
  /* stroke: black; */
  stroke-width: 2.5px;
  fill: rgba(243, 244, 246, 0);
  stroke-dasharray: 1400;
  stroke-dashoffset: 100;
  animation: dash 5s linear alternate;
  animation-delay: 0.3s;
}
.path-move2{
  overflow-y: hidden;
}
@media screen and (max-width: 499px) {
  .path-move {
      transform: translateY(48vh);
  }
  .path2{
    transform: translateY(-20vh);
  
    }
  .move{
      transform: translateY(0vh);
  }
}
@media (min-width:500px) and (max-width: 700px) {
    .path-move {
        transform: translateY(43vh);
    }
    .path2{
      transform: translateY(-20vh);
    
      }
    .move{
        transform: translateY(-15vh);
    }
  }
  @media (min-width:700px) and (max-width: 1050px) {
    .path-move {
        transform: translateY(15vh);
    }
    .path2{
      transform: translateY(-36vh);
    
      }
    .move{
        transform: translateY(-40vh);
    }
  }


  
  @keyframes dash {
    from {
      stroke-dashoffset: 1500;
    }
    to {
      stroke-dashoffset: 100;
    }
  }